*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

secrets.yaml
*.log
*.log.*
*.xml
*.db
*.sqlite
.storage/
OZW_Log.txt
known_devices.yaml
core
*.conf
matrix.yaml
bedroom-cam.jpg
tanner-cam.jpg
map_data.gz.jpg
icloud/
image/
.aarlo/
wyze-bridge/
deps/
