*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

secrets.yaml
*.log
*.log.*
*.xml
*.db
*.sqlite
.storage/
OZW_Log.txt
known_devices.yaml
core
*.conf
matrix.yaml
bedroom-cam.jpg
tanner-cam.jpg
map_data.gz.jpg
icloud/
image/
.aarlo/
wyze-bridge/
deps/
/custom_components/aarlo
/custom_components/adaptive_lighting
/custom_components/alexa_media
/custom_components/battery_consumption
/custom_components/breaking_changes
/custom_components/dreamscreen
/custom_components/hacs
/custom_components/iphonedetect
/custom_components/localtuya
/custom_components/pirateweather
/custom_components/shelly
/custom_components/templatesensor
/custom_components/weatherbit
custom_components/aarlo
custom_components/adaptive_lighting
custom_components/alexa_media
custom_components/battery_consumption
custom_components/breaking_changes
custom_components/dreamscreen
custom_components/hacs
custom_components/iphonedetect
custom_components/localtuya
custom_components/pirateweather
custom_components/shelly
custom_components/templatesensor
custom_components/weatherbit